In [3]:
print('Hello Python')

Hello Python
abanoub
23

In [4]:
my_name = 'abanoub'
my_age = 23
print(my_name)
print(my_age)

abanoub
23

In [8]:
a= 50
b= 50
if b > a:
    print('b is greater than a')
elif a==b:
    print('a and b are equal')
else :
    print('a is greater than b')

a and b are equal

In [39]:
student_names = ['Amira', 'Isaac', 'Ive', 'Dave', 'Besho']
student_names

['Amira', 'Isaac', 'Ive', 'Dave', 'Besho']

In [40]:
student_names[0]

'Amira'

In [41]:
student_names[-1]

'Besho'

In [42]:
student_names[1:]

['Isaac', 'Ive', 'Dave', 'Besho']

In [18]:
student_names[:3]

['Amira', 'Isaac', 'Ive']

In [43]:
student_names[0:2]

['Amira', 'Isaac']

In [44]:
student_names.append('nader')
student_names

['Amira', 'Isaac', 'Ive', 'Dave', 'Besho', 'nader']

In [45]:
student_names.append('Hany')
student_names

['Amira', 'Isaac', 'Ive', 'Dave', 'Besho', 'nader', 'Hany']

In [46]:
student_names.insert(2 , 'Holy')
student_names

['Amira', 'Isaac', 'Holy', 'Ive', 'Dave', 'Besho', 'nader', 'Hany']

In [47]:
del student_names[-1]

In [48]:
student_names

['Amira', 'Isaac', 'Holy', 'Ive', 'Dave', 'Besho', 'nader']

In [50]:
del student_names[-1]
student_names

['Amira', 'Isaac', 'Holy', 'Ive', 'Dave']

In [52]:
student_names.append('Nader')
student_names

['Amira', 'Isaac', 'Holy', 'Ive', 'Dave', 'Nader']

In [53]:
student_names.append('Hany')
student_names

['Amira', 'Isaac', 'Holy', 'Ive', 'Dave', 'Nader', 'Hany']

In [62]:
student_names = ['Amira', 'Isaac', 'Holy', 'Ive', 'Dave', 'Nader', 'Hany']
for i in student_names :
    print ('Welcome ' +i+ ' :)')

Welcome Amira :)
Welcome Isaac :)
Welcome Holy :)
Welcome Ive :)
Welcome Dave :)
Welcome Nader :)
Welcome Hany :)

In [63]:
student_names = ['Amira', 'Isaac', 'Holy', 'Ive', 'Dave', 'Nader', 'Hany']

student_pairs = []
for student_name_0 in student_names:
    for student_name_1 in student_names:
        student_pairs.append(
            (student_name_0, student_name_1)
        )

student_pairs

[('Amira', 'Amira'),
 ('Amira', 'Isaac'),
 ('Amira', 'Holy'),
 ('Amira', 'Ive'),
 ('Amira', 'Dave'),
 ('Amira', 'Nader'),
 ('Amira', 'Hany'),
 ('Isaac', 'Amira'),
 ('Isaac', 'Isaac'),
 ('Isaac', 'Holy'),
 ('Isaac', 'Ive'),
 ('Isaac', 'Dave'),
 ('Isaac', 'Nader'),
 ('Isaac', 'Hany'),
 ('Holy', 'Amira'),
 ('Holy', 'Isaac'),
 ('Holy', 'Holy'),
 ('Holy', 'Ive'),
 ('Holy', 'Dave'),
 ('Holy', 'Nader'),
 ('Holy', 'Hany'),
 ('Ive', 'Amira'),
 ('Ive', 'Isaac'),
 ('Ive', 'Holy'),
 ('Ive', 'Ive'),
 ('Ive', 'Dave'),
 ('Ive', 'Nader'),
 ('Ive', 'Hany'),
 ('Dave', 'Amira'),
 ('Dave', 'Isaac'),
 ('Dave', 'Holy'),
 ('Dave', 'Ive'),
 ('Dave', 'Dave'),
 ('Dave', 'Nader'),
 ('Dave', 'Hany'),
 ('Nader', 'Amira'),
 ('Nader', 'Isaac'),
 ('Nader', 'Holy'),
 ('Nader', 'Ive'),
 ('Nader', 'Dave'),
 ('Nader', 'Nader'),
 ('Nader', 'Hany'),
 ('Hany', 'Amira'),
 ('Hany', 'Isaac'),
 ('Hany', 'Holy'),
 ('Hany', 'Ive'),
 ('Hany', 'Dave'),
 ('Hany', 'Nader'),
 ('Hany', 'Hany')]

In [65]:
student_names = ['Amira', 'Isaac', 'Holy', 'Ive', 'Dave', 'Nader', 'Hany']

student_pairs = []
for student_name_0 in student_names:
    for student_name_1 in student_names:
        if student_name_0 != student_name_1 :
            student_pairs.append(
            (student_name_0, student_name_1)
        )

student_pairs

[('Amira', 'Isaac'),
 ('Amira', 'Holy'),
 ('Amira', 'Ive'),
 ('Amira', 'Dave'),
 ('Amira', 'Nader'),
 ('Amira', 'Hany'),
 ('Isaac', 'Amira'),
 ('Isaac', 'Holy'),
 ('Isaac', 'Ive'),
 ('Isaac', 'Dave'),
 ('Isaac', 'Nader'),
 ('Isaac', 'Hany'),
 ('Holy', 'Amira'),
 ('Holy', 'Isaac'),
 ('Holy', 'Ive'),
 ('Holy', 'Dave'),
 ('Holy', 'Nader'),
 ('Holy', 'Hany'),
 ('Ive', 'Amira'),
 ('Ive', 'Isaac'),
 ('Ive', 'Holy'),
 ('Ive', 'Dave'),
 ('Ive', 'Nader'),
 ('Ive', 'Hany'),
 ('Dave', 'Amira'),
 ('Dave', 'Isaac'),
 ('Dave', 'Holy'),
 ('Dave', 'Ive'),
 ('Dave', 'Nader'),
 ('Dave', 'Hany'),
 ('Nader', 'Amira'),
 ('Nader', 'Isaac'),
 ('Nader', 'Holy'),
 ('Nader', 'Ive'),
 ('Nader', 'Dave'),
 ('Nader', 'Hany'),
 ('Hany', 'Amira'),
 ('Hany', 'Isaac'),
 ('Hany', 'Holy'),
 ('Hany', 'Ive'),
 ('Hany', 'Dave'),
 ('Hany', 'Nader')]

In [71]:
student_grade = ('Amira', 'English', 'A')
student_name, subject, grade = student_grade

print( 'student_name:  ' +student_name )
print('subject:       ' +subject)
print('grade:         ' +grade)

student_name:  Amira
subject:       English
grade:         A

In [75]:
student_grades = [('Amira', 'English', 'A')
                  ,('Holy', 'French', 'B-'),
                  ('Nader', 'Italian', 'B+'),
                  ('Dave', 'German', 'A-'),]

for student_name, subject, grade in student_grades:
    if grade.startswith('A'):
        print('Congratulations', student_name,
              'on getting an', grade,
              'in', subject)

Congratulations Amira on getting an A in English
Congratulations Dave on getting an A- in German

In [83]:
# this is a Dictionaries have a key and value 
foreign_languages = {
    #key : value
    'Amira': 'English',
    'Nader': 'French',
    'Hany': 'Italian',
    'Dave': 'German',
}
foreign_languages['Hany']

'Italian'

In [84]:
foreign_languages['Amira']

'English'

In [86]:
'Hany' in foreign_languages

True

In [87]:
'Holy' in foreign_languages

False

In [89]:
# Add an entry that doesn't exist
foreign_languages['Abanoub'] = 'Spanish'
foreign_languages

{'Amira': 'English',
 'Nader': 'French',
 'Hany': 'Italian',
 'Dave': 'German',
 'Abanoub': 'Spanish'}

In [90]:
'Abanoub' in foreign_languages

True

In [91]:
# Delete an entry that exists
del foreign_languages['Hany']
foreign_languages

{'Amira': 'English', 'Nader': 'French', 'Dave': 'German', 'Abanoub': 'Spanish'}

In [92]:
'Hany' in foreign_languages

False

In [93]:
foreign_languages['Kamil'] = 'Arabic'
foreign_languages

{'Amira': 'English',
 'Nader': 'French',
 'Dave': 'German',
 'Abanoub': 'Spanish',
 'Kamil': 'Arabic'}

In [94]:
'Kamil' in foreign_languages

True

In [95]:
# Change an entry that does exist
foreign_languages['Kamil'] = 'Italian'
foreign_languages

{'Amira': 'English',
 'Nader': 'French',
 'Dave': 'German',
 'Abanoub': 'Spanish',
 'Kamil': 'Italian'}

In [96]:
# Looping over dictionaries
for key in foreign_languages:
    value = foreign_languages[key]
    print(key, 'is taking', value)

Amira is taking English
Nader is taking French
Dave is taking German
Abanoub is taking Spanish
Kamil is taking Italian

In [99]:
for key, value in foreign_languages.items():
    print(key, 'is taking', value)

Amira is taking English
Nader is taking French
Dave is taking German
Abanoub is taking Spanish
Kamil is taking Italian

In [109]:
#This is a list of tuples:
student_grades = [
    ('Amira', 'Spanish', 'A'),
    ('Hany', 'French', 'B-'),
    ('Holy', 'Italian', 'B+'),
    ('Dave', 'German', 'A-'),
]
student_grades[3]

('Dave', 'German', 'A-')

In [110]:
# we can work with the individual tuples as such
student_grades[3][1]

'German'

In [123]:
st_gr_records = []
for student_name, subject, grade in student_grades:
    record = {
        'name': student_name,'subject': subject, 'grade': grade,
    }
    st_gr_records.append(record)
    
st_gr_records

[{'name': 'Amira', 'subject': 'Spanish', 'grade': 'A'},
 {'name': 'Hany', 'subject': 'French', 'grade': 'B-'},
 {'name': 'Holy', 'subject': 'Italian', 'grade': 'B+'},
 {'name': 'Dave', 'subject': 'German', 'grade': 'A-'}]

In [124]:
st_gr_records[1]

{'name': 'Hany', 'subject': 'French', 'grade': 'B-'}

In [127]:
st_gr_records[2]['grade']

'B+'

In [128]:
for record in st_gr_records:
    if record['grade'].startswith('A'):
        print('Congratulations', record['name'], 
              'on getting an', record['grade'], 
              'in', record['subject'])

Congratulations Amira on getting an A in Spanish
Congratulations Dave on getting an A- in German

In [129]:
#Dictionary of dictionaries
foreign_language_grades = {}
for student_name, subject, grade in student_grades:
    record = {
        'subject': subject,
        'grade': grade,
    }
    foreign_language_grades[student_name] = record
    
foreign_language_grades

{'Amira': {'subject': 'Spanish', 'grade': 'A'},
 'Hany': {'subject': 'French', 'grade': 'B-'},
 'Holy': {'subject': 'Italian', 'grade': 'B+'},
 'Dave': {'subject': 'German', 'grade': 'A-'}}